
body {
    background-color: lightyellow;
    font-family: Arial, sans-serif;
}


p { color: blueviolet;
    font-size: 18px;}


h1 {
    color: red;
    text-align: center;
}


h2 {
    color: green;
}


ul li, ol li {
    margin: 5px 0;
    color: navy;
}


img {
    border: 2px solid black;
    margin-top: 10px;
}


form {
    margin-top: 20px;
}
